body{
    padding: auto;
    margin: 0%;
}

.cabeçalho{

    background-color: antiquewhite;
    margin: 5%;
    text-align: center;
}
.infs{ background-color: beige;
margin: 50px;
border: 12%;
padding: auto;
text-align: left;}

.inf{

    background-color: aquamarine;
}