body{
    padding: auto;
    margin: 0%;
}
.tudo{
    background: linear-gradient(180deg,rgb(70, 107, 42)0%,rgb(60, 87, 40)47%,rgb(0, 0, 0)100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cabeçalho{

    background-color: rgb(157, 228, 103);
    margin: 5%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
.infs{ background-color: rgb(157, 228, 103);
margin: 15px;
border-radius: 5px;
padding: 10px;
text-align: center;
font-size: 20px;
font-style: inherit;
background-image: url(hortas.jpeg);
background-size:contain;background-repeat: no-repeat;
}
.começo{
    background-color: rgb(157, 228, 103);
    margin: 15px;
    border-radius: 5px;
    padding: 5%;
    text-align: left;
    font-size: larger;
}
.NOVOS{
    background-color: rgb(157, 228, 103);
    margin: 15px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.n1{
    background-color: rgb(157, 228, 103);
    margin: 15px;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    font-size: medium;
}
.pé{
    background-color: rgb(34, 67, 1);
    font-size: smaller;
}

